<!--
SPDX-FileCopyrightText: 2023 sublipri <sublipri@proton.me>
SPDX-License-Identifier: GPL-3.0-only
-->
<!doctype html>
<html>
  <head>
    <title>Kobo Wi-Fi Remote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/main.css" rel="stylesheet" />
    <style>
      .link-container {
        display: flex;
        flex-direction: column;
      }
      a {
        text-decoration: none;
      }
      button {
        width: 100vw;
        height: {{opts.button_height}}vh;
        line-height: {{opts.button_height}}vh;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0">
    <div class="link-container">
      {% for item in items -%}
      <a id="{{item.href}}" href="/{{item.href}}/">
        <button
          {% if loop.index % 2 == 0 -%}
          style="background-color: {{opts.color1}}"
          {% else -%}
          style="background-color: {{opts.color2}}"
          {% endif -%}
          type="button"
          class="colored-button"
        >
          {{item.name}}
        </button>
      </a>
      {% endfor -%}
    </div>
  </body>
  <script src="/js/colored-buttons.js"></script>
</html>
