<!--
SPDX-FileCopyrightText: 2023 sublipri <sublipri@proton.me>
SPDX-License-Identifier: GPL-3.0-only
-->
<!doctype html>
<html>
  <head>
    <title>Kobo Wi-Fi Remote</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="UTF-8"
    />
    <link href="/styles/main.css" rel="stylesheet" />
    <style>
      .button-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      .remote-button {
        width: 100vw;
        height: 50vh;
      }

      @media (orientation: landscape) {
        .button-container {
          flex-direction: row;
        }
        .remote-button {
          width: 50vw;
          height: 100vh;
        }
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0">
	{% if next.is_none() || prev.is_none() -%}
	  {% include "no-actions.html" -%}
	{% else -%}
	  {% let next = next.as_ref().unwrap() -%}
	  {% let prev = prev.as_ref().unwrap() -%}
    <div class="button-container">
      <button
        class="remote-button colored-button"
        id="prev-page"
		{%- if let Some(shortcut) = prev.keyboard_shortcut %}
		title="Previous Page (Shortcut: {{shortcut}})"
		{% else -%}
        title="Previous Page (Shortcut: ArrowLeft or KeyA)"
		{% endif -%}
        style="background-color: #5783db"
        type="button"
      >
	    {{ prev.name }}
      </button>
      <button
        class="remote-button colored-button"
        id="next-page"
		{%- if let Some(shortcut) = next.keyboard_shortcut %}
		title="Next Page (Shortcut: {{shortcut}})"
		{% else -%}
		title="Next Page (Shortcut: ArrowRight or KeyD)"
		{% endif -%}
        style="background-color: #33b249"
        type="button"
      >
	    {{ next.name }}
      </button>
    </div>
	{% endif -%}
  </body>
  {% if next.is_some() && prev.is_some() -%}
  {% let next = next.as_ref().unwrap() -%}
  {% let prev = prev.as_ref().unwrap() -%}
  <script type="module">
    import { playAction } from "/js/lib.js";
    const next_btn = document.getElementById("next-page");
    const prev_btn = document.getElementById("prev-page");
    next_btn.onclick = async () => {
      await playAction("next-page");
    };
    prev_btn.onclick = async () => {
      await playAction("prev-page");
    };

    window.addEventListener(
      "keydown",
      (event) => {
        switch (event.code) {
          case "Right":
          case "ArrowRight":
          case "KeyD":
		  {% if let Some(shortcut) = next.keyboard_shortcut -%}
		  case "{{ shortcut.to_string() }}":
		  {%- endif %}
            next_btn.click();
            break;
          case "Left":
          case "ArrowLeft":
          case "KeyA":
		  {% if let Some(shortcut) = prev.keyboard_shortcut -%}
		  case "{{ shortcut.to_string() }}":
		  {%- endif %}
            prev_btn.click();
            break;
          case "Escape":
            close.click();
            break;
        }
      },
      true,
    );
  </script>
  <script src="/js/colored-buttons.js"></script>
  {% endif %}
</html>
