<!--
SPDX-FileCopyrightText: 2023 sublipri <sublipri@proton.me>
SPDX-License-Identifier: GPL-3.0-only
-->
<!doctype html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width"
      initial-scale="1"
      charset="UTF-8"
    />
    <link href="/styles/main.css" rel="stylesheet" />
    <link href="/styles/remote.css" rel="stylesheet" />
    <title>Kobo Wi-Fi Remote</title>
  </head>
  <body style="margin: 0; padding: 0">
    <div class="button-container">
      {% for action in actions -%}
	  {% let color -%}
	  {% if loop.index % 2 == 0 -%}
        {% let color = "#33b249" -%}
	  {% else -%}
	    {% let color = "#5783db "-%}
	  {% endif -%}
      <button
        class="remote-button colored-button"
        type="button"
        id="btn-{{action.path_segment}}"
        style="background-color: {{color}}"
        title="Next (Shortcut: {{action.shortcut_name()}})"
        onclick='playAction("{{action.path_segment}}")'
      >
        {{-action.name}}
      </button>
      {% endfor -%}
    </div>
    <div id="result-modal" class="modal">
      <div class="modal-content">
        <span id="result-close-modal" class="close">&times;</span>
        <p></p>
      </div>
    </div>
  </body>
  <script id="shortcuts-json" type="application/json">
    {{shortcuts_json|safe}}
  </script>
  <script>
    const json = document.getElementById("shortcuts-json").textContent;
    const shortcuts = JSON.parse(json);
    window.addEventListener(
      "keydown",
      (e) => {
        for (const [key, path_segment] of Object.entries(shortcuts)) {
          if (e.code === key) {
            const btnId = "btn-" + path_segment;
            const btn = document.getElementById(btnId);
            if (btn) {
              btn.click();
            }
            break;
          }
        }
      },
      true,
    );

    const close = document.getElementById("result-close-modal");
    close.onclick = function () {
      const modal = document.getElementById("result-modal");
      modal.style.display = "none";
    };

    async function playAction(path_segment) {
      const response = await fetch(`/actions/${path_segment}`);
      if (!response.ok) {
        const result = document.getElementById("result-modal");
        const p = result.querySelector("p");
        p.innerHTML = await response.text();
        result.style.display = "block";
        await new Promise((r) => setTimeout(r, 3000));
        result.style.display = "none";
      }
    }
  </script>
  <script src="/js/colored-buttons.js"></script>
</html>
