<!--
SPDX-FileCopyrightText: 2023 sublipri <sublipri@proton.me>
SPDX-License-Identifier: GPL-3.0-only
-->
<!doctype html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width"
      initial-scale="1"
      charset="UTF-8"
    />
    <link href="/styles/main.css" rel="stylesheet" />
    <link href="/styles/remote.css" rel="stylesheet" />
    <title>Kobo Wi-Fi Remote</title>
  </head>
  <body style="margin: 0; padding: 0">
    {% if actions.len() == 0 -%}
      {% include "no-actions.html" -%}
    {% endif -%}
    <div class="button-container">
      {% for action in actions -%}
        {% let color -%}
        {% if loop.index % 2 == 0 -%}
          {% let color = "#5783db "-%}
        {% else -%}
          {% let color = "#33b249" -%}
        {% endif -%}
        <button
          class="remote-button colored-button"
          type="button"
          id="btn-{{action.path_segment}}"
          style="background-color: {{color}}"
          title="{{action.name}} (Shortcut: {{action.shortcut_name()}})"
        >
          {{-action.name}}
        </button>
      {% endfor -%}
    </div>
    {% if enable_arbitrary -%}
      {% include "arbitrary-input.html" -%}
    {% endif -%}
  </body>
  <script id="shortcuts-json" type="application/json">
    {{shortcuts_json|safe}}
  </script>
  <script type="module">
    {% if enable_arbitrary -%}
      import { detectionActive } from "/js/arbitrary-input.js";
    {% endif -%}
    import { playAction, promptFullscreen } from "/js/lib.js";
    const json = document.getElementById("shortcuts-json").textContent;
    const shortcuts = JSON.parse(json);

    for (const [path_segment, key] of Object.entries(shortcuts)) {
      const btnId = "btn-" + path_segment;
      const btn = document.getElementById(btnId);
      btn.onclick = async () => {
        if (event.detail <= 1) {
          await playAction(path_segment);
        }
      };
      if (!key) {
        continue;
      }
      window.addEventListener("keydown", (e) => {
        {% if enable_arbitrary -%}
          if (detectionActive) {
            return
          }
        {% endif -%}
        if (e.code === key) {
          btn.click();
        }
      });
    }
    {% if prompt_fullscreen -%}
      window.onload = promptFullscreen(2000);
    {% endif -%}
  </script>
  <script src="/js/colored-buttons.js"></script>
</html>
