<!--
SPDX-FileCopyrightText: 2023 sublipri <sublipri@proton.me>
SPDX-License-Identifier: GPL-3.0-only
-->
<!doctype html>
<html>
  <head>
    <title>Kobo Wi-Fi Remote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link href="/styles/main.css" rel="stylesheet" />
  </head>
  <body style="margin: 0; padding: 0">
    <br />
    <form class="action-form" id="record-action-form">
      <label for="name">Display Name:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="sort-value">Sort Value:</label><br />
      <input
        type="text"
        id="sort-value"
        name="sort_value"
        placeholder="Optional"
      /><br />
      <label for="path_segment">URL Path Segment:</label><br />
      <input
        type="text"
        id="path-segment"
        name="path_segment"
        placeholder="Optional"
      /><br />
      <label for="keyboard_shortcut">Keyboard Shortcut:</label><br />
      <input
        type="text"
        id="keyboard-shortcut"
        name="keyboard_shortcut"
        placeholder="Optional"
      /><br />
      <details>
        <summary>Advanced Options</summary>
        <label for="no-input-timeout">No Input Timeout (Milliseconds):</label
        ><br />
        <input
          type="number"
          id="no-input-timeout"
          name="no_input_timeout"
          class="input-number"
          value="5000"
          min="1"
          required
        /><br />
        <label for="last-event-timeout"
          >Last Input Timeout (Milliseconds):</label
        ><br />
        <input
          type="number"
          id="last-event-timeout"
          name="last_event_timeout"
          class="input-number"
          value="4000"
          min="1"
          required
        /><br />
        <label for="optimize-input">Optimize Input</label><br />
        <input
          type="checkbox"
          id="optimize-input"
          name="optimize"
          checked
        /><br />
        <label for="only-check-touch">Only check touchscreen</label><br />
        <input
          type="checkbox"
          id="only-check-touch"
          name="only_check_touch"
          checked
        /><br />
      </details>
      <p>
        <button
          type="button"
          name="create-action"
          id="create-action"
          class="records-input"
        >
          Create Action
        </button>
      </p>
    </form>
    <p>
      Custom actions will appear on the remote control once recorded. Unicode
      characters should work, so you may put an emoji as the display name to act
      as an icon. It is recommended to use alphanumeric characters for the sort
      value and path segment.
    </p>
    <p>
      The keyboard shortcut field requires an
      <a
        href="https://developer.mozilla.org/en-US/docs/web/api/ui_events/keyboard_event_code_values"
        >event code value</a
      >. If using a computer with JavaScript enabled, the input box will update
      with the code value when you press a key. This value represents the
      physical location on a keyboard, so for non-QWERTY layouts it might differ
      from the character pressed.
    </p>
    <p>
      <a href="/cgi-bin/manage-actions.cgi"
        ><button type="button" id="manage-actions">Manage Actions</button></a
      >
    </p>
    <p>
      <a href="/remote-control"
        ><button type="button" id="remote-control">Remote Control</button></a
      >
    </p>
    <p>
      <a href="javascript:history.back()"
        ><button type="button" id="go-back">Go Back</button></a
      >
    </p>
  </body>
  <script>
    const shortcutInput = document.getElementById("keyboard-shortcut");
    shortcutInput.addEventListener(
      "keydown",
      (event) => {
        event.preventDefault();
        shortcutInput.value = `${event.code}`;
      },
      true,
    );
  </script>
  <script type="module">
    import { setup, alertRecording } from "/js/alert-recording.js";
    setup();
  </script>
</html>
