<!--
SPDX-FileCopyrightText: 2023 sublipri <sublipri@proton.me>
SPDX-License-Identifier: GPL-3.0-only
-->
<!doctype html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width"
      initial-scale="1"
      charset="UTF-8"
    />
    <link href="/styles/main.css" rel="stylesheet" />
    <link href="/styles/remote.css" rel="stylesheet" />
    <title>Kobo Wi-Fi Remote</title>
  </head>
  <body style="margin: 0; padding: 0">
    <div class="button-container">
      {% for action in actions -%}
	  {% let color -%}
	  {% if loop.index % 2 == 0 -%}
        {% let color = "#33b249" -%}
	  {% else -%}
	    {% let color = "#5783db "-%}
	  {% endif -%}
      <button
        class="remote-button colored-button"
        type="button"
        id="btn-{{action.uri}}"
        style="background-color: {{color}}"
        title='Next (Shortcut: {{action.shortcut_name()}})'
        onclick='fetch("/actions/{{action.uri}}")'
      >
        {{-action.name}}
      </button>
      {% endfor -%}
    </div>
  </body>
  <script id="shortcuts-json" type="application/json">
    {{shortcuts_json|safe}}
  </script>
  <script>
    const json = document.getElementById("shortcuts-json").textContent;
    const shortcuts = JSON.parse(json);
    window.addEventListener(
      "keydown",
      (e) => {
        for (const [key, uri] of Object.entries(shortcuts)) {
          if (e.code === key) {
            const btnId = "btn-" + uri;
            const btn = document.getElementById(btnId);
            if (btn) {
              btn.click();
            }
            break;
          }
        }
      },
      true,
    );
  </script>
  <script src="/js/colored-buttons.js"></script>
</html>
